page-settings {
    ion-header{
        .addBtn{
            display: flex;
            //background-color: #4893ffa8;
            background-color: #eee;
            color: #0c0909;
            padding: 5px;
            .btn1{
                background: #bdbdbd;
                 color: black;
                 flex: 1
            }
            h1{
                font-size: 18px;
                font-weight: bold;
                flex: 10;
                margin: 10px;
            }
        }
    }
    ion-content{
        .card-container2{
           ._black{
               font-size: 17px
           }
        }
    }
}
