<ion-header>
  <main-header></main-header>
  <div class="addBtn"> 
      <button ion-button color="grey" class="btn1" outline (click)="goBack()"><ion-icon name="undo" ></ion-icon></button>
          <h1>{{jobTitle}}-Client Submission Status</h1>
          
  </div>

</ion-header>


<ion-content padding>
  <ion-list>       
 
    <div class="body" *ngFor="let data of internalData | search : myInput"  >
     
          <div class="body-left col">
              
              <button ion-item >
                 
                  <div class="inner-body" >
                      <label class="inner-left"><b>Candidate</b> :  <span >{{data.firstName}}</span></label> 
                  </div>
                  <div class="inner-body " >
                      <label class="inner-left"><b>Recruiter</b> :  <span >{{data.addedBy}}</span></label> 
                  </div>
                  <div class="inner-body" >
                      <label class="inner-left"><b>Status</b> :  <span >{{data.status}}</span></label> 
                  </div>
                  <div class="inner-body" *ngIf="data.status == 'Email Sent'">
                    <label class="inner-left"><b>EmailSentDate</b> :  <span >{{data.emailSentDate |date:'medium'}}</span></label> 
                   </div>
                   <div class="inner-body" *ngIf="data.status == 'Answered'">
                    <label class="inner-left"><b>AnsweredDate</b> :  <span >{{data.answeredDate |date:'medium'}}</span></label> 
                   </div>
                  
              </button>   
          
         
    </div>
    
    
    </div>          
      
</ion-list>
</ion-content>
