page-homemodal {
  ion-header{
    .addBtn{
        display: flex;
        background-color: #eee;
         color: #0c0909;
        padding: 5px;
        h1{
            font-size: 18px;
            font-weight: bold;
            flex: 8;
            margin: 10px;
        }
        .btn1{
            flex: 1; 
            background: #bdbdbd;
             color: black;
        }
    }
}
    .timeline {
        margin: 30px 0 0 -37px;
        padding: 0;
        position: relative;
    
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 3px;
          background: #afdcf8;
          left: 20%;
          margin-left: -10px;
        }
        timeline-item {
          position: relative;
          display: inline-block;
    
          timeline-time {
            display: block;
            width: 20%;
            padding-right: 50px;
            position: absolute;
            span {
              display: block;
              text-align: right;
              &:last-child {
                font-size: 2.9em;
                color: #3594cb;
              }
            }
          }
          /* Right content */
         ion-card {
            border-radius: 2px;
            margin-left: 100px;
            margin-top: 20px;
            //min-length:100px;
           // min-width:100px;
          }
          ion-icon {
            width: 30px;
            height: 30px;
            font-size: 1.4em;
            position: absolute;
            color: green;
            font-weight: bolder;
           // background: #46a4da;
           // border-radius: 50%;
           // -webkit-box-shadow: 0 0 0 8px #afdcf8;
            /* box-shadow: 0 0 0 8px #afdcf8; */
            text-align: center;
            left: 16%;
            top: 0;
            margin: 20px 0 -95px;
            line-height: 40px;
            &:after {
                //left: 46px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
               // border-left-color: #afdcf8;
                border-width: 10px;
                top: 10px;
              }
          }
          .icon2{
            width: 30px;
            height: 30px;
            font-size: 1.4em;
            position: absolute;
            color: grey;
            text-align: center;
            font-weight: bolder;
            left: 16%;
            top: 0;
            margin: 20px 0 -95px;
            line-height: 40px;
            &:after {
                //left: 46px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
               // border-left-color: #afdcf8;
                border-width: 10px;
                top: 10px;
              }
          }
          .icon3{
            width: 30px;
            height: 30px;
            font-size: 1.4em;
            position: absolute;
            color: yellow;
            text-align: center;
            font-weight: bolder;
            left: 16%;
            top: 0;
            margin: 20px 0 -95px;
            line-height: 40px;
            &:after {
                //left: 46px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
               // border-left-color: #afdcf8;
                border-width: 10px;
                top: 10px;
              }
          }
            &:last-child{
              width: 75%;
              margin-top: -70px;
              display: none;
              ion-icon{
                box-shadow: none;
                
                &:after{
                  border-width: 0;
                }
              }
            }
            span{
              font-weight: 500
            }
        }
      
      }
}
